<h1>Active:</h1>
<br>
<label><%=@student.first_name + " " + @student.last_name%>
<input type='radio' name='student[active]' value='<%=true%>'>True</input>
<input type='radio' name='student[active]' value='<%=false%>'>False</input>
